/*
 * Colors:
 * Darkest: 	 #3f8c40
 * Dark: 		   #49a34b
 * Middle:     #5ab953
 * Light: 		 #beee9e
 * Lightest:   #e6ffbf
 */
body {

}

/* NAVBAR START */

.navbar-custom {
  background-color: #49a34b;
  border-color: transparent;
  margin-bottom: 0;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #dddddd;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #5ab953;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #3f8c40;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: #5ab953;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #3e8a40;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #3f8c40;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #5ab953;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #3f8c40;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: #5ab953;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

/* NAVBAR END */


.main-content {
  padding: 40px 15px;
}

/* FRONT PAGE JUMBOTRON */
.jumbotron {
	text-align: center;
	background-color: transparent;
}
/* JUMBOTRON END */

/* FRONT PAGE COLUMN CONTENT */
.front-page-columns {
	text-align: center;
}
/* FRONT PAGE COLUMN CONTENT END*/

/* SERVICE PAGE RIGHT SIDE NAV ELEMENT */
ul.service-nav {
	margin-top: 30px;
	list-style: none;
}

ul.service-nav > li > a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	color: #3f8c40;
}

ul.service-nav > li > a:hover {
	text-decoration: none;
	background-color: #e6ffbf;
}

ul.service-nav > li > ul {
	list-style: none;
	padding: 0 0 0 20px;
}

ul.service-nav > li > ul > li > a {
	display: block;
	color: #3f8c40;
	padding: 3px 7px;
}

ul.service-nav > li > ul > li > a:hover {
	text-decoration: none;
	background-color: #e6ffbf;
}
/* SERVICE PAGE RIGHT SIDE NAV ELEMENT END */

/* PRICING PAGE TABLE STYLES */
td.td-indent {
	padding-left: 30px !important;
}
/* PRICING PAGE TABLE STYLES END */

/* FOOTER STUFF */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Footer for windows larger than 992px */
@media (min-width: 992px) {
	/* Wrapper for page content to push down footer */
	#footer-wrap {
	  min-height: 100%;
	  height: auto;
	  /* Negative indent footer by its height */
	  margin: 0 auto -200px;
	  /* Pad bottom by footer height */
	  padding: 0 0 250px;
	}

	/* Set the fixed height of the footer here */
	#footer {
	  height: 200px;
		padding: 30px 0 30px 0;
	  background-color: #f5f5f5;
	}
}
/* Footer for windows smaller than 993px */
@media (max-width: 993px) {
	/* Wrapper for page content to push down footer */
	#footer-wrap {
	  min-height: 100%;
	  height: auto;
	  /* Negative indent footer by its height */
	  margin: 0 auto -430px;
	  /* Pad bottom by footer height */
	  padding: 0 0 430px;
	}

	/* Set the fixed height of the footer here */
	#footer {
	  height: 430px;
		padding: 30px 0 30px 0;
	  background-color: #f5f5f5;
	}
}
/* FOOTER END */